body {
  background-color: #2d2f2f;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 500px;
}

.board-row {
  display: flex;
}

.square {
  box-sizing: border-box;
  cursor: pointer;
  width: 150px;
  height: 150px;
  font-size: 2rem;
}

.square:hover {
  background-color: #d9dcdc;
  border: 2px solid rgb(6, 211, 6);
}